*, *:before, *:after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	font-size: 12px;
	text-align: center;
}
#sudoku {
	margin: 20px auto;
	font-size: 1em;
	display: inline-block;
}

#sudoku div {
	width: 60px;
	height: 60px;
	background-color: rgba(100,100,100,0.1);
	overflow: hidden;
	float: left;
	padding: 5px;
	position: relative;
	border-top: 1px solid rgba(0,0,0,0.3);
	border-left: 1px solid rgba(0,0,0,0.3);
}
#sudoku div:nth-child(3n) {
	margin-right: 60px;
}
#sudoku div:nth-child(9n) {
	float: none;
}
#sudoku div:nth-child(27n) {
	margin-bottom: 60px;
}

.possible {
	opacity: 0.3;
}

.value {
	text-align: center;
	font-size: 2em;
	position: absolute;
	top: 0;left: 0;right: 0;bottom: 0;
	margin-top: 15px;
}

.highlight {
	background-color: rgba(100,0,0,0.2) !important;
}